.mtk3 {
    font-family: 'Monaspace Radon', monospace !important;
    color: #008c7d !important;
}
.line-numbers {
    position: relative !important;
    width: 35px !important;
    font-size: 16px !important;
    font-family: 'Geist Mono' !important;
    opacity: .3;
}
.monaco-editor .scroll-decoration {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .75) !important;
    top: -6px !important;
}
.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions {
    display: none !important;
}
.part.sidebar {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .25);
}
.monaco-list.list_id_1 .monaco-list-row.selected {
    background-color: #4f5971 !important;
    opacity: 1 !important;
    border-top: 1px #727b90 solid;
    border-bottom: 1px #727b90 solid;
}
.monaco-list.list_id_1 .monaco-list-row.selected .label-name {
    color: #fff !important;
    opacity: 1 !important;
}
.monaco-workbench .part.sidebar .title-actions .actions-container {
    display: none;
}
.monaco-tree .monaco-tree-row .label-name,
.monaco-list .monaco-list-row
.monaco-icon-label .label-name {
    font-family: 'Geist Mono', monospace !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #FFF !important;
}